
<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.tailwindcss.com"></script>
        <title>
            Delete Task {{object.title}}
        </title>
    </head>
    <body>
        <div class="flex justify-center w-full">
            <div class="w-[380px] m-20">
                <div class="text-4xl font-bold">
                    Delete {{object.title}}
                </div>
                <br>
                <br>
                <form method="post">
                    {% csrf_token %}
                    <span class="text-xl">
                        Are you sure you want to delete "{{object.title}}"? You can not undo this.
                    </span>
                    <button type="submit" class="bg-red-500 block hover:bg-red-600 text-white rounded-xl p-3 text-base cursor-pointer transition w-full mt-4">
                        Confirm
                    </button>
                </form>
            </div>
        </div>
        
        
    </body>
</html>